<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>  
        <add key="FileServerPath" value="/home/olamide/Projects/BrewLog/BrewLog/bin/Debug/brewing data"/> 
        <add key="ConnectionString" value="/home/olamide/Projects/BrewLog/BrewingModel/bin/Debug"/>  
        <add key="TemplateFilePath" value= "/home/olamide/Projects/BrewLog/BrewingModel/bin/Debug/period_template.xlsx"/>
        <add key="FolderSeparator" value= "/"/>
    </appSettings> 
</configuration>
